@import mixins
@import variables
@import keyframes
@import loader
@import restaurant
@import responsive


.main-container
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    padding: 0
    box-sizing: border-box
    opacity: 0
    animation: showContent $transition-time forwards $transition-time

*
    font-family: 'Roboto', sans-serif
    box-sizing: border-box
body
    margin: 0
    display: flex
    justify-content: center
    align-items: center

h2
    font-size: 24px

h3
    font-size: 18px

header
    @include flex()
    height: 63px
    width: 100%
    position: relative

main
    width: 100%
    @include flex()
    
.city
    @include flex(row)
    height: 50px
    width: 100%
    background-color: #EAEAEA
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.10)
    margin-bottom: 4px
    position: relative

    &::after
        content: ''
        position: absolute
        width: 100%
        height: 4px
        bottom: 0
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
 
    &__name
        font-size: 16px
        font-weight: 500
        margin: 10
        color: $secondary-font-color
        
.location
    padding: 0 17px 0 0  

.title-box
    @include flex
    height: 287px
    background-color: $background-color
    width: 100%

    &__title
        margin: 0
        text-align: center
        padding: 0 50px 0 50px
        font-size: 24px

    &__subtitle
        text-align: center
        padding: 0 30px 0 30px
        font-size: 18px
        color: $secondary-font-color

    &__button
        @include button(218px)
        
.title-box__button:hover
        @include button-animation()
            
.instruction
    width: 100%

    &__title
        padding: 20px
        margin: 0
        width: 100%
    
    &__point-box
        padding-bottom: 20px
        padding-left: 32px
        
    &__point
        @include flex(row, start)
        width: 96%
        margin-bottom: 20px
        height: 72px
        background-color: $background-color
        border: none
        border-radius: 20px
        font-size: 16px
        font-weight: 500
        box-shadow: 4px 4px 15px (rgb(0, 0, 0, 0.15)) 

        &__number
            border: none
            width: 24px
            height: 24px
            border-radius: 20px
            background-color: $main-color
            color: $footer-font-color
            margin: 0 20px 0 -12px
            text-align: center

        i    
            padding-right: 10px

.fa-solid
    color: $icon-color

.icon-color
    color: $main-color      

a
    color: inherit
    text-decoration: none

.restaurants
    padding: 20px
    background-color: $background-color
    width: 100%
    

.card
    margin-bottom: 20px
    @include flex()
    position: relative
    
    &__img
        height: 174px
        width: 100%
        object-fit: cover
        border-top-left-radius: 15px
        border-top-right-radius: 15px
    
        &__nouveau
            position: absolute
            top: 10px
            right: 10px
            font-size: 14px
            font-weight: 500
            color: #008766
            background-color: #99E2D0
            margin: 0
            padding: 6px 14px 6px 14px
            border-radius: 2px

    &__content
        padding: 20px
        width: 100%
        background-color: white
        border-bottom-left-radius: 20px
        border-bottom-right-radius: 20px
        @include flex(row, space-between)
           
        &__title
            margin: 0 0 10px 0
            
        &__subtitle
            font-size: 17px
            font-weight: 300
            margin: 0

.heart-box
    display: flex
    justify-content: center
    align-items: center
    position: relative
  
.heart-solid
    position: absolute
    opacity: 0
    transition: opacity 0.5s ease, color 0.5s ease

.heart-border
    padding-right: 0 

.heart-box:hover
    .heart-solid
        opacity: 1
        background: $icon-activ
        background-clip: text
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
    .heart-border
        opacity: 0
         
footer
    background-color: $secondary-font-color
    height: 186px
    width: 100%
    @include flex(column, center, start)
    
    img
        color: white
        height: 20px
        filter: brightness(0) invert(1)
        margin: 15px 0 15px 20px

    nav ul
        filter: brightness(0) invert(1)
        list-style-type: none
        padding: 0
        font-size: 16px
        margin: 0 0 0 20px
        
        li
            font-weight: 500
            margin-top: 15px

            .fa-solid
                height: 16px
                width: 11px
            

        

    
