@import variables
@import mixins
@import keyframes
@import loader
@import header
@import footer
@import restaurant

.main-container
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    padding: 0
    box-sizing: border-box
    opacity: 0
    animation: showContent $transition-time forwards $transition-time

*
    font-family: 'Roboto', sans-serif
    box-sizing: border-box
body
    margin: 0
    display: flex
    justify-content: center
    align-items: center

h2
    font-size: 24px

h3
    font-size: 18px

h4 
    font-size: 16px
    font-weight: 500

main
    width: 100%
    @include flex()
    
.city
    @include flex(row)
    height: 50px
    width: 100%
    background-color: #EAEAEA
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.10)
    margin-bottom: 4px
    position: relative

    &::after
        content: ''
        position: absolute
        width: 100%
        height: 4px
        bottom: 0
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
 
    &__name
        font-size: 16px
        font-weight: 500
        margin: 10px
        color: $secondary-font-color
        
.location
    padding: 0 17px 0 0  

.title-box
    @include flex
    height: 287px
    background-color: $background-color
    width: 100%

    &__title
        margin: 0
        text-align: center
        padding: 0 50px 0 50px
        font-size: 24px

    &__subtitle
        text-align: center
        padding: 0 30px 0 30px
        font-size: 18px
        color: $secondary-font-color

    &__button
        @include button(218px)
        @include flex()
        
.title-box__button:hover
        @include button-animation()
            
.instruction
    width: 100%

    &__title
        padding: 20px
        margin: 0
        width: 100%
    
    &__point-box
        padding-bottom: 20px
        padding-left: 32px
        
    &__point
        @include flex(row, start)
        width: 96%
        margin-bottom: 20px
        height: 72px
        background-color: $background-color
        border: none
        border-radius: 20px
        font-size: 16px
        font-weight: 500
        box-shadow: 4px 4px 15px (rgb(0, 0, 0, 0.15)) 

        &__number
            border: none
            width: 24px
            height: 24px
            border-radius: 20px
            background-color: $main-color
            color: $footer-font-color
            margin: 0 20px 0 -12px
            text-align: center

        i    
            padding-right: 10px

.fa-solid
    color: $icon-color

.icon-color
    color: $main-color      

a
    color: inherit
    text-decoration: none

.restaurants
    padding: 20px
    background-color: $background-color
    width: 100%
    

.card
    margin-bottom: 20px
    @include flex()
    position: relative
    
    &__img
        height: 174px
        width: 100%
        object-fit: cover
        border-top-left-radius: 15px
        border-top-right-radius: 15px
    
    &__nouveau
        position: absolute
        top: 10px
        right: 10px
        font-size: 14px
        font-weight: 500
        color: #008766
        background-color: #99E2D0
        margin: 0
        padding: 6px 14px 6px 14px
        border-radius: 2px

    &__content
        padding: 20px
        width: 100%
        background-color: white
        border-bottom-left-radius: 20px
        border-bottom-right-radius: 20px
        @include flex(row, space-between)
           
        &__title
            margin: 0 0 10px 0
            
        &__subtitle
            font-size: 17px
            font-weight: 300
            margin: 0

.heart-box
    display: flex
    justify-content: center
    align-items: center
    position: relative
  
.heart-solid
    position: absolute
    opacity: 0
    transition: opacity 0.5s ease, color 0.5s ease

.heart-border
    padding-right: 0 

.heart-box:hover
    .heart-solid
        opacity: 1
        background: $icon-activ
        background-clip: text
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
    .heart-border
        opacity: 0

@media (min-width: 1024px)
    .main-container
        align-items: center
    
    .page
        align-items: center

    .instruction
        max-width: 1080px
        @include flex(column, center, center)
        
        &__title
            padding-left: 30px
            width: 950px
            padding-left: 0

        &__point-box
            @include flex(row, center)
            padding-left: 0
            width: 950px
        
        &__point
            width: 322px
            margin: 15px

    .restaurants
        display: flex
        flex-direction: column
        align-items: center
    
        &__title
            max-width: 1010px
            width: 950px
    
        &__cards
            @include flex(row)
            flex-wrap: wrap
            max-width: 980px
        
    .card
        padding: 15px

        img
            height: 176px
            width: 460px

        &__nouveau
            top: 25px
            right: 25px
    
    .menu
        width: 100%
        max-width: 1055px
        box-sizing: border-box
        display: flex

        &__title
            justify-content: center
            h2
                margin-right: 20px
    
        .heart-box
            padding: 0
            @include flex()